@using System.Data
@using GoodM8s.Basketball.Helpers
@model IEnumerable<DataRow>
<div class="goodm8s-basketball">
    @Html.Partial("NavigationPartial")
    <h2>
        @ViewBag.Name Overview</h2>
    <br />
    @if (ViewBag.ShowPast) {
        <a href="/overview/@ViewBag.Id" class="btn btn-info" role="button">Hide Past</a>
    }
    else {
        <a href="/overview/@ViewBag.Id/true" class="btn btn-info" role="button">Show Past</a>
    }
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Time
                </th>
                <th>
                    Court
                </th>
                <th colspan="5" style="text-align: center;">
                    Line Up
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model)
            {
                <tr@{ if (row["gamedate"].ToString() == ViewBag.CurrentDate)
                      {<text> class="success"</text>}}>
                    <td>
                        @Convert.ToDateTime(@row["gamedate"]).ToShortDateString()
                    </td>
                    <td>
                        @row["gametime"]
                    </td>
                    <td>
                        @row["court"]
                    </td>
                    <td>
                        @if ((int) row["hometeamscore"] > 0 &&
                             (int) row["hometeamscore"] >= (int) @row["awayteamscore"]) {
                            <span class="max">@row["hometeamname"]</span>
                             }
                        else
                        {
                            @row["hometeamname"]
                        }
                    </td>
                    <td>
                        @Html.Win((int)row["hometeamscore"], (int)row["awayteamscore"])
                    </td>
                    <td>
                        Vs
                    </td>
                    <td>
                        @Html.Win((int)row["awayteamscore"], (int)row["hometeamscore"])
                    </td>
                    <td>
                        @if ((int)row["awayteamscore"] > 0 &&
                             (int)row["awayteamscore"] >= (int)@row["hometeamscore"])
                        {
                            <span class="max">@row["awayteamname"]</span>
                        }
                        else {
                            @row["awayteamname"]
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>